body{
background-color:#000000f9;
}
.main{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.calc{
  height:700px;
  width:100%;
}
.show{
  width: 100%;
  height: 45%;
  position:relative;
}
.keys{
  width: 100%;
  height: 55%
}
button{
  height:60px;
  width:60px;
  border-radius: 30px;
  border:none;
  margin-left:13px ;
  margin-top: 13px;
  background-color:#2C2C2C;
}
.last{
  width:80px;
  background-color:#1F1F1F;
}
b{
  color:white;
  font-size: 20px;
}
#value{
  position:absolute;
  right:0px;
  bottom:0px;
  height:50px;
  width:100%;
  background-color:#0000002b;
  border:none;
  color:white;
  font-size: 50px;
  text-align: right;  
}